<div class="container py-2">
    <div class="row">
        <div class="col-3">
            @if(div1Visible == true){
            <div class="bg-success p-3">
                Div 1
            </div>
            }
        </div>
        <div class="col-3">
            @if(checkBoxValue == true){
            <div class="bg-primary p-3">
                CheckBox is Checked
            </div>
            } @else {
            <div class="bg-danger p-3">
                CheckBox is UnChecked
            </div>
            }
        </div>

        <div class="col-3">
            @if(dayName == "mon"){
            <span>Monday</span>
            } @else if (dayName == "tue"){
            <span>Tuesday</span>
            } @else if (dayName == "wed"){
            <span>Wednesday</span>
            } @else {
            <span>enter a valid day</span>
            }
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="hideShowDiv1(true)">Show</button>
            <button class="btn btn-danger" (click)="hideShowDiv1(false)">Hide</button>
        </div>

        <div class="col-3">
            <input type="checkbox" [(ngModel)]="checkBoxValue" />
        </div>

        <div class="col-3">
            <input type="text" [(ngModel)]="dayName" maxlength="3" placeholder="Enter day" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <select>
                @for(city of cityArray; track $index){
                <option>{{city}}</option>
                }
            </select>
        </div>
        <div class="col-3">
            @for(city of cityArray; track $index){
            <button class="btn btn-success">{{city}}</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Mobile No</th>
                    </tr>
                </thead>
                <tbody>
                    @for(employee of employeeArray; track $index){
                        <tr>
                            <td>{{$index + 1}}</td>
                            <td>{{employee.name}}</td>
                            <td>{{employee.city}}</td>
                            <td>{{employee.contactNumber}}</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>