<div class="row">
  <div class="col-3 p-4" [ngStyle]="{ 'background-color': div1BckColor, color: 'blue' }">
    Div 1
  </div>
  <div class="col-3 p-4" [ngStyle]="{ 'background-color': isChecked ? 'teal' : 'blue' }">
    Div 2
  </div>
  <div class="col-3 p-4" [ngStyle]="myCss">
    Div 3
  </div>
  <div class="col-3 p-4">
    <button class="btn btn-success" (click)="addDiv1Color('green')">
      Green
    </button>
    <button class="btn btn-danger" (click)="addDiv1Color('red')">Red</button>
  </div>
  <div class="col-3 p-4">
    <input type="checkbox" [(ngModel)]="isChecked" />
  </div>
</div>